# Dependencies
node_modules/
package-lock.json

# Generated community configurations
communities/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
